$board-dimensions: 1000px;
$corner-dimensions: 110px;
$tile-height: $corner-dimensions;
$tile-width: ($board-dimensions - (2 * $corner-dimensions)) / 9;

.game-board-container {
    height: $board-dimensions;
    width:  $board-dimensions;
    border: 1px solid;
    position: relative;
    background: #CDE6D0;

    .tile {
        float: left;
        height: $tile-height;
        width:  $tile-width;
        border: 3px solid;
        border-left-width: 2px;
        border-right-width: 1px;
        box-sizing: border-box;
    }

    .tile.corner {
        position: absolute;
        height: $corner-dimensions;
        width: $corner-dimensions;
        background: red;
        border: 2px solid;
    }

    #go.tile.corner {
        bottom: 0;
        left: 0;
    }
    #jail.tile.corner {
        top: 0;
        left: 0;
    }
    #parking.tile.corner {
        top: 0;
        right: 0;
    }
    #go-to-jail.tile.corner {
        bottom: 0;
        right: 0;
    }

    .tile.property {
        .property-color {
            height: 20%;
            width: 100%;
            border-bottom: 3px solid;

            &.lightblue { background: lightblue; }
            &.brown     { background: brown;     }
            &.orange    { background: orange;    }
            &.purple    { background: purple;    }
            &.red       { background: red;       }
            &.yellow    { background: yellow;    }
            &.blue      { background: blue;      }
            &.green     { background: green;     }
        }
    }

    .tile.community { background: gold; }
    .tile.tax       { background: purple; }
    .tile.utility   { background: gray; }
    .tile.chance    { background: lime; }

    .side {
        position: absolute;
        left: $corner-dimensions;
        transform-origin: top left;
    }

    #side-0.side {
        top:  $corner-dimensions;
        transform: rotateZ(90deg);
    }

    #side-1.side {
        top:  $corner-dimensions;
        transform: rotateZ(180deg);
        transform-origin: top;
    }

    #side-2.side {
        top:  $corner-dimensions;
        transform-origin: top right;
        transform: rotateZ(-90deg);
    }

    #side-3.side {
        bottom: 0;
    }

}
