.control-container {
    display: inline-block;
    font-family: 'Helvetica Neue';
    font-size: 1.8rem;
    min-width: 35rem;
    max-width: 70rem;
    margin-right: 1rem;
    height: $board-dimensions;
    vertical-align: top;
    border: 1px solid;
    padding: 1rem;

    .game-controls {
        width: 100%;
        height: 10rem;
        border: 1px solid;
        margin-bottom: 1rem;
        background: linear-gradient(#fff 60%, #ddd);
        display: flex;
        align-items: center;
        .game-buttons {
            button {
                border: none;
                border-radius: 0;
                padding: 10px 0;
                font-size: 18px;
                text-align: center;
                width: 150px;
                box-sizing: border-box;
                background: #CDE6D0;
            }
        }

        .dice-container {
            width: 20rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            overflow: hidden;
            .dice {
                @extend %dice;
            }
        }
    }

    .player-stats-container {
        .player-stat {
            &.current {
                font-weight: bold;
            }
        }
    }
}
