// Variables
$board-dimensions: 100rem;
$corner-dimensions: $board-dimensions/7.7;
$tile-height: $corner-dimensions;
$tile-width: ($board-dimensions - (2 * $corner-dimensions)) / 9;

// Reset stuff
@font-face {
    font-family:"Kabel";
    src: url("/public/fonts/kabel.ttf");
}

html { font-size: 10px; }

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

@import 'board';
@import 'game-status';
