ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

$tile-height: 100px;
$tile-width: 80px;

.monopoly-container {
    .tile-container {
        .tile {
            float: left;
            border: 1px solid;
            height: $tile-height;
            width:  $tile-width;
            &.corner {
                width: $tile-height;
            }
        }
    }
}
